<% provide(:title, 'Home') %>
<h1><%=yield(:title)%></h1>
<div class="center hero-unit">
    <h1>欢迎来到飞毛腿订餐</h1>

    <h2>
      
    </h2>

    <%= link_to "注册新用户", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
